@{
    ViewData["Title"] = "Blog Page";
}

<div id="blogtitle">
    <h1 align ="Center">
        Blog Page
    </h1>
</div>
<div class="container">
    <div class="row">
        <div id="blognavi" class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <a href="#Post4">
                Blog Post 4 (11/05/17)
            </a>
            <br>
            <br>
            <a href="#Post3">
                Blog Post 3 (02/05/17)
            </a>
            <br>
            <br>
            <a href="Post2">
                Blog Post 2 (29/04/17)
            </a>
            <br>
            <br>
            <a href="#Post1">
                Blog Post 1 (20/04/17)
            </a>
        </div>
        <div id="blogcon" class="col-sm-10 col-md-10 col-lg-7">
            <div id "posttitle">
                <h2>
                    <a id="Post4"></a>
                    Blog Post 4
                </h2>
            </div>
            <div id="postimg">
                <img src="~/images/blog4.jpg" alt="Blog Image 4" width="200px">
            </div>
            <div id="postcon">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae tempus massa. Donec mauris ligula, pharetra fringilla massa in, dapibus lacinia nibh. Quisque aliquet enim tellus, eu bibendum mi pulvinar a. Mauris faucibus faucibus dolor, eu hendrerit ex malesuada eget. Aliquam vulputate sagittis justo, vitae sagittis arcu ultricies at. Sed quis facilisis nisl. Proin efficitur, eros vitae viverra pretium, magna felis condimentum ex, vitae convallis nunc sem at risus. Pellentesque nisi eros, interdum eget mattis eget, accumsan sit amet libero. Integer sagittis rutrum magna, a porttitor odio ullamcorper ac. Quisque porta massa sed euismod pulvinar. Praesent mauris nisi, suscipit ac accumsan et, congue vel nulla. Mauris rhoncus leo pulvinar maximus tempor.
                Phasellus pretium, ex eget dapibus elementum, tellus neque maximus arcu, eu tincidunt nisi nulla non nulla. Proin euismod neque sit amet scelerisque aliquam. Donec vehicula urna rhoncus neque egestas, sed posuere ex posuere. Fusce vehicula pharetra lacus, eu lobortis urna congue quis. Donec et porta purus. Nulla in eros sagittis, ullamcorper eros sed, faucibus libero. Etiam luctus odio nec dolor rutrum venenatis. Ut convallis aliquam arcu quis dignissim. Phasellus et scelerisque mi. In commodo tellus diam. Proin risus eros, ornare eget tincidunt id, tincidunt et metus. Fusce nec laoreet lectus, sed posuere metus. Curabitur lacinia nisl at est varius, vel sodales nunc scelerisque.
                Mauris urna turpis, pretium a velit vel, vulputate dapibus neque. Sed luctus, nulla eget placerat porta, sem diam sollicitudin quam, molestie porttitor est mi vel nunc. Etiam viverra tortor vitae nisl fringilla, sed venenatis risus consectetur. Vivamus erat nibh, elementum sit amet magna eget, aliquet consectetur enim. Vestibulum ornare facilisis nisl, et porta orci ultricies sit amet. Nulla pretium justo nisl, et vulputate felis posuere non. Donec efficitur lorem vel massa imperdiet ornare. Quisque id scelerisque erat. Nam varius nisi eu dictum dignissim. Proin consequat lectus enim, in placerat augue egestas dictum. Nunc at massa ut lorem vulputate elementum. Donec ac egestas mauris, in blandit purus. Integer vitae eros enim.
                Etiam a sapien vitae tortor blandit tempor nec at ante. Vivamus nec eleifend quam, id luctus ante. Nunc sagittis molestie lacus at convallis. Donec vehicula at dui sit amet sodales. Fusce eu enim ac mauris posuere posuere eget sit amet ipsum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas malesuada vitae neque pellentesque pulvinar. Cras sollicitudin urna ante, quis consequat lacus consequat a. Quisque porttitor, nulla at elementum viverra, magna turpis ornare lectus, ac finibus augue turpis quis leo. Aliquam consequat elit enim, vitae posuere sem sollicitudin nec. Cras sit amet quam accumsan tortor accumsan viverra. Nullam sit amet orci id felis laoreet efficitur. Pellentesque non neque et nunc pretium efficitur.
                Nunc quis dui sed ligula convallis fringilla at quis risus. Proin faucibus lectus eget nulla vehicula, sed sagittis tortor placerat. Duis dapibus, elit nec tincidunt placerat, neque libero posuere diam, eu tempor tortor augue a massa. Ut tempus elit lorem, nec luctus purus tristique non. Sed et consectetur metus, at pharetra velit. Sed eu nulla quam. Cras vulputate ante ac massa posuere, id blandit mi sollicitudin. Suspendisse dictum nibh sit amet purus consectetur tincidunt. In volutpat lectus placerat tellus hendrerit, at tempor felis volutpat.
            </div>
            <div class="row">
                <div id "posttitle">
                    <h2>
                        <a id="Post3"></a>
                        Blog Post 3
                    </h2>
                </div>
                <div id="postimg">
                    <img src="~/images/blog3.jpg" alt="Blog Image 3" width="200px">
                </div>
                <div id="postcon">
                    Nunc vel efficitur augue. Vivamus semper mi non aliquam gravida. Sed elementum ornare viverra. Vivamus sapien risus, posuere ac dolor vitae, bibendum finibus ipsum. Integer facilisis, tellus vel sodales hendrerit, nunc lectus euismod nunc, quis pretium mauris odio nec ligula. Integer ut nunc sit amet purus blandit convallis aliquam sit amet libero. Maecenas risus libero, consequat quis condimentum vitae, aliquam quis lectus. Cras varius molestie aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ullamcorper odio et tempus tempor. Integer felis tortor, accumsan finibus tincidunt sed, gravida vitae ex. Pellentesque molestie mauris id risus euismod mattis. Donec ultricies cursus ligula eget consequat. Phasellus volutpat facilisis sapien, sit amet posuere turpis maximus id. Donec eros augue, congue non sodales nec, posuere non erat. In ultricies nunc vel augue suscipit, sit amet finibus nunc ornare.
                    Etiam facilisis dolor at scelerisque iaculis. Proin fermentum posuere felis vitae iaculis. Pellentesque euismod leo id nisl tincidunt, quis malesuada metus mollis. Suspendisse potenti. Etiam felis sapien, interdum id bibendum eu, vestibulum id sapien. Nunc vehicula semper enim, ut auctor velit fringilla quis. Aliquam quis arcu vel diam efficitur tempus. Donec ante purus, egestas faucibus cursus ac, consequat vel tellus. Donec et blandit mauris.
                    Curabitur tempus viverra tellus sed pellentesque. Duis a feugiat leo, non pellentesque sem. Sed libero nunc, feugiat vitae mauris in, tincidunt facilisis neque. Aliquam rhoncus, neque non aliquet convallis, purus libero consectetur risus, a accumsan metus ipsum ac mi. Nullam sodales lectus vel est ultrices, sit amet ultrices nibh hendrerit. In molestie quis leo quis tincidunt. Nulla facilisi. Fusce elementum massa eu est ultricies fringilla. Sed tristique arcu vel sodales ultrices. Vestibulum molestie massa in efficitur consectetur. Curabitur euismod nisi efficitur elit pretium feugiat. Vestibulum ullamcorper pharetra iaculis. Duis eleifend tellus sit amet augue posuere, eget laoreet arcu semper. Mauris vel consectetur felis. Sed ut arcu sit amet nisi molestie volutpat.
                </div>
            </div>
            <div class="row">
                <div id "posttitle">
                    <h2>
                        <a id="Post2"></a>
                        Blog Post 2
                    </h2>
                </div>
                <div id="postimg">
                    <img src="~/images/blog2.jpg" alt="Blog Image 2" width="200px">
                </div>
                <div id="postcon">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fermentum mattis consequat. Ut ullamcorper neque eget ultrices mattis. Ut porttitor leo et mollis rutrum. In ac sapien nibh. Curabitur consectetur feugiat pellentesque. Etiam pharetra purus et justo aliquam consectetur. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum elementum ullamcorper quam vel varius.
                    Cras sit amet porta est. Donec consectetur sit amet libero id molestie. Quisque ante dui, eleifend non faucibus in, fringilla sed nisi. Morbi aliquam orci libero, posuere semper elit gravida sit amet. Nam pretium ipsum nunc, vitae ullamcorper lectus eleifend a. Nullam commodo, elit vel sodales maximus, nulla velit aliquam ex, id pellentesque est sapien eget est. Phasellus congue malesuada faucibus. Morbi nisi urna, finibus vitae justo non, rutrum condimentum ipsum. Duis efficitur sapien nec lorem porttitor ullamcorper. Proin aliquet volutpat lorem, non dapibus libero consectetur ac. Mauris pulvinar mi magna, et pulvinar metus volutpat vel. Morbi ut nisi non lacus condimentum condimentum et quis urna. Maecenas molestie porttitor turpis, at vulputate dolor congue id. Vivamus id nunc vel augue venenatis pulvinar sit amet sed diam. Curabitur condimentum vestibulum commodo.
                    Sed elit erat, volutpat varius tempor a, fringilla non nisi. Nullam in nisl et mi fermentum tincidunt et et ex. Nulla facilisi. Cras eu enim elit. Sed maximus tempus dapibus. Aliquam at aliquet leo. In purus odio, gravida dignissim aliquam eu, interdum sit amet lorem. Morbi in ante a nisi volutpat tristique sit amet non velit. Donec in consequat dui, eu lacinia ipsum. Etiam non elementum metus, in auctor metus. Donec nibh tellus, tincidunt mattis ultrices eget, luctus eget ligula. Cras congue, dui quis vestibulum auctor, nibh lorem vulputate dui, a bibendum metus purus et arcu. Aenean mi purus, dapibus id imperdiet et, tincidunt vitae lorem. Proin molestie tellus sit amet ligula tincidunt, ut mollis eros congue. Nullam mattis lorem blandit ex aliquet, sit amet cursus odio egestas. Aenean in mattis neque, eget viverra ligula.
                    Duis nulla ipsum, consectetur quis est non, dictum sodales turpis. Morbi tempus risus et justo tincidunt, tempor venenatis lectus tempus. Integer semper sagittis bibendum. Aenean cursus elit quis justo scelerisque elementum. Aliquam ut quam dapibus, consequat purus id, tristique nunc. Sed vel consectetur velit. Etiam tristique sed mauris vel lobortis. Vestibulum iaculis, sapien vulputate molestie efficitur, nisl eros egestas turpis, et hendrerit augue velit in dui. Duis feugiat pulvinar ante, nec fermentum diam iaculis ut. Suspendisse maximus auctor ipsum et lacinia. In porta tristique quam. Quisque consectetur viverra neque id gravida.
                    Morbi auctor rutrum ipsum. Praesent id euismod sapien. Morbi sed enim nec augue gravida commodo a in odio. Aenean nec tristique eros. Aliquam erat volutpat. Nam pretium rhoncus consectetur. Cras sit amet libero sagittis, mattis massa at, luctus elit. Curabitur in ligula risus.
                </div>
            </div>
            <div class="row">
                <div id "posttitle">
                    <h2>
                        <a id="Post1"></a>
                        Blog Post 1
                    </h2>
                </div>
                <div id="postimg">
                    <img src="~/images/blog1.jpg" alt="Blog Image 1" width="200px">
                </div>
                <div id="postcon">
                    Proin in lorem vestibulum, lobortis odio id, bibendum diam. Nunc non pulvinar purus, vitae viverra ligula. Sed laoreet pretium nunc in pharetra. Vestibulum in consectetur lectus, eu finibus risus. Morbi elementum maximus efficitur. Proin dolor urna, tincidunt tincidunt nisi nec, rhoncus euismod quam. Cras quis sapien ut nisi hendrerit aliquam. Curabitur vitae arcu eu magna porta rhoncus ut id sapien. Pellentesque purus massa, cursus id mauris id, pharetra blandit ipsum.
                    Duis vestibulum sit amet lacus scelerisque porta. Nulla sit amet finibus risus, et aliquam diam. Praesent quis sagittis sapien, vitae imperdiet tortor. Aenean hendrerit purus non metus condimentum, ut venenatis diam consectetur. Aliquam dapibus dui nec nunc luctus pretium. Nullam nisl orci, ultricies vitae velit malesuada, aliquet imperdiet urna. Etiam porttitor, eros vel rhoncus luctus, orci arcu luctus nunc, eu tristique tortor magna vitae tortor. Morbi ut neque malesuada, aliquam turpis nec, pellentesque sem. Nunc id varius erat, sodales dictum dui. Sed tristique blandit urna, vel fermentum neque. In hac habitasse platea dictumst. Donec magna tortor, pretium ac imperdiet eget, accumsan dignissim sapien. Quisque sodales, libero non posuere mollis, sem nunc porta dui, at vestibulum tortor elit at velit.
                    Quisque porttitor a leo vitae blandit. Praesent commodo, risus id venenatis porta, tellus tortor vehicula purus, nec efficitur massa lacus in dolor. Etiam commodo eros et dapibus faucibus. Aliquam erat volutpat. Ut egestas nisl arcu, ut malesuada purus feugiat a. Vestibulum vel turpis sed urna interdum faucibus. Morbi ac pretium lacus. Nullam vehicula porta tincidunt. Donec convallis sit amet arcu quis vestibulum. Nulla eget mollis augue. Nulla eu fermentum enim, ut maximus eros. Vestibulum eget mauris et ex efficitur porttitor id vel eros. Etiam dignissim elit scelerisque turpis egestas pulvinar. Quisque nec urna ut mauris sollicitudin commodo. Morbi tortor libero, convallis ut lacinia eu, tempor et mi. Donec luctus condimentum suscipit.
                    Curabitur pulvinar sem dolor, maximus fringilla justo hendrerit vitae. Aenean condimentum gravida semper. Cras non consequat nibh, id accumsan tortor. Fusce mollis nunc velit, nec interdum enim tincidunt et. Ut sollicitudin nisl quis porttitor tincidunt. Morbi pellentesque justo quam, et euismod mauris imperdiet blandit. Nullam non ornare odio. Donec sit amet dolor vel ligula ornare pharetra. Integer commodo enim nec sodales suscipit. Aenean at tortor facilisis, consectetur nibh a, ultricies dui. Mauris imperdiet lorem eget mauris imperdiet, a porttitor quam pellentesque. Pellentesque vitae congue felis. Duis sollicitudin tincidunt ligula sit amet pellentesque.
                </div>
            </div>
        </div>
        <div id="blogauth" align="center" class="col-xs-12 col-lg-3">
            <img src="~/images/AuthorPhoto.jpg" alt="Business Cat" id="author">
            <br>
            Mr Scruffles<br>
            Head of Yarn and Laser Lights
        </div>
    </div>
</div>