﻿@{
    ViewData["Title"] = "Contact";
}

<h2>@ViewData["Message"]</h2>

<div class="container">
    <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6" >
                <div id="map"></div>
            </div>
                <script>
                    function initMap() {
                    var wellington= {lat: -41.2865, lng: 174.7762};
                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 10,
                        center: wellington
                    });
                    var marker = new google.maps.Marker({
                        position: wellington,
                        map: map
                    });
                    }
                </script>
                <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVdNJid9oL7KIwwViL2vm_fm-A--VNN24&callback=initMap">
                </script>
        <div class="col-lg-6 col-md-6 col-sm-6"        
            <discription>
                <h3>About Us:</h1>
                <text>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et lacus nec nunc tincidunt imperdiet eu nec tortor. Quisque cursus porttitor mi vel maximus. Donec tellus metus, bibendum ut rhoncus sed, mattis et mi. Quisque ut sagittis tellus, et efficitur dolor. In hac habitasse platea dictumst. Nulla ac tempus quam. Pellentesque non ante ut lectus viverra rutrum.</text>
                <br>
                <img src="~/images/DSC_0103.JPG" alt="location">
            </discription>
        </div>    
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6"
            <address>
                <strong>Were We Live:</strong>
                <p>One Microsoft Way</p>
                <p>Redmond, WA 98052-6399</p>
            </address>
        </div>   
        <div class="col-lg-6 col-md-6 col-sm-6"
            <contacts>
                <h2>Contact Us At</h2>
                <strong>Open Hours:</strong> <p>8am to 6pm</p>
                <strong>Phone:</strong><p>0800bingus</p>
                <strong>Open phone hours during</strong> <p>9am to 5pm</p>
                <strong>Our Email:</strong><p>PleaseBingit@googled.com</p>
            </contacts>
        </div>    
    </div>    
</div>   
