@{
    ViewData["Title"] = "Media Gallery";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
  <div class="column">
    <img src="~/images/image1.jpg" onclick="openModal();currentSlide(1)" class="hover-shadow portfolio-slideshow">
  </div>
  <div class="column">
    <img src="~/images/image2.jpg" onclick="openModal();currentSlide(2)" class="hover-shadow portfolio-slideshow">
  </div>
  <div class="column">
    <img src="~/images/image3.jpg" onclick="openModal();currentSlide(3)" class="hover-shadow portfolio-slideshow">
  </div>
  <div class="column">
    <img src="~/images/image4.jpg" onclick="openModal();currentSlide(4)" class="hover-shadow portfolio-slideshow">
  </div>
  <div class="column">
    <img src="~/images/image5.jpg" onclick="openModal();currentSlide(5)" class="hover-shadow portfolio-slideshow">
  </div>
  <div class="column">
    <img src="~/images/image6.jpg" onclick="openModal();currentSlide(6)" class="hover-shadow portfolio-slideshow">
  </div>
  <div class="column">
    <img src="~/images/image7.jpg" onclick="openModal();currentSlide(7)" class="hover-shadow portfolio-slideshow">
  </div>
  <div class="column">
    <img src="~/images/image8.jpg" onclick="openModal();currentSlide(8)" class="hover-shadow portfolio-slideshow">
  </div>
</div>

<div id="myModal" class="modal">

  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">

    <div class="mySlides">
      <div class="numbertext">1 / 8</div>
      <img src="~/images/image1.jpg" style="width:100%">
    </div>
    <div class="mySlides">
      <div class="numbertext">2 / 8</div>
      <img src="~/images/image2.jpg" style="width:100%">
    </div>
    <div class="mySlides">
      <div class="numbertext">3 / 8</div>
      <img src="~/images/image3.jpg" style="width:100%">
    </div>
      <div class="mySlides">
      <div class="numbertext">4 / 8</div>
      <img src="~/images/image4.jpg" style="width:100%">
    </div>
    <div class="mySlides">
      <div class="numbertext">5 / 8</div>
      <img src="~/images/image5.jpg" style="width:100%">
    </div>
    <div class="mySlides">
      <div class="numbertext">6 / 8</div>
      <img src="~/images/image6.jpg" style="width:100%">
    </div>
    <div class="mySlides">
      <div class="numbertext">7 / 8</div>
      <img src="~/images/image7.jpg" style="width:100%">
    </div>
    <div class="mySlides">
      <div class="numbertext">8 / 8</div>
      <img src="~/images/image8.jpg" style="width:100%">
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  
    <div class="column">
      <img class="demo cursor" src="~/images/image1.jpg" onclick="currentSlide(1)" alt="Boxing Fight" style="width:100%">
    </div>
    <div class="column">
      <img class="demo cursor" src="~/images/image2.jpg" onclick="currentSlide(1)" alt="Boxing Fight" style="width:100%">
    </div>
    <div class="column">
      <img class="demo cursor" src="~/images/image3.jpg" onclick="currentSlide(1)" alt="Boxing Fight" style="width:100%">
    </div>
    <div class="column">
      <img class="demo cursor" src="~/images/image4.jpg" onclick="currentSlide(1)" alt="Boxing Fight" style="width:100%">
    </div>
    <div class="column">
      <img class="demo cursor" src="~/images/image5.jpg" onclick="currentSlide(1)" alt="Boxing Fight" style="width:100%">
    </div>
    <div class="column">
      <img class="demo cursor" src="~/images/image6.jpg" onclick="currentSlide(1)" alt="Boxing Fight" style="width:100%">
    </div>
    <div class="column">
      <img class="demo cursor" src="~/images/image7.jpg" onclick="currentSlide(1)" alt="Boxing Fight" style="width:100%">
    </div>
    <div class="column">
      <img class="demo cursor" src="~/images/image8.jpg" onclick="currentSlide(1)" alt="Boxing Fight" style="width:100%">
    </div>


</div>

