@{
    ViewData["Title"] = "Portfolio";
}

<h2>@ViewData["Title"]</h2>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-3 col-lg-2">
            <img src="~/images/AuthorPhoto.JPG" alt="boxing">
        </div>
        <div class="col-sm-6 col-md-9 col-lg-10">
            <discription>
                <h4>Some Work</h4>
                <text>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et lacus nec nunc tincidunt imperdiet eu nec tortor. Quisque cursus porttitor mi vel maximus. Donec tellus metus, bibendum ut rhoncus sed, mattis et mi. Quisque ut sagittis tellus, et efficitur dolor. In hac habitasse platea dictumst. Nulla ac tempus quam. Pellentesque non ante ut lectus viverra rutrum.</text>
            </discription>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2" id="portimg">
            <img src="~/images/box (10).JPG" alt="boxing">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2" id="portimg">
            <img src="~/images/box (11).JPG" alt="boxing">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2" id="portimg">
            <img src="~/images/box (12).JPG" alt="boxing">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2" id="portimg">
            <img src="~/images/box (13).JPG" alt="boxing">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2" id="portimg">
            <img src="~/images/box (14).JPG" alt="boxing">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2" id="portimg">
            <img src="~/images/box (15).JPG" alt="boxing">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2" id="portimg">
            <img src="~/images/box (16).JPG" alt="boxing">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2" id="portimg">
            <img src="~/images/box (17).JPG" alt="boxing">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2" id="portimg">
            <img src="~/images/box (18).JPG" alt="boxing">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2" id="portimg">
            <img src="~/images/box (19).JPG" alt="boxing">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2" id="portimg">
            <img src="~/images/box (20).JPG" alt="boxing">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2" id="portimg">
            <img src="~/images/box (21).JPG" alt="boxing">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2"  id="portimg">
            <img src="~/images/box (21).JPG" alt="boxing">
        </div>  
    </div>
</div>