@{
   ViewData["Title"] = "Profile";
}
<h2>@ViewData["Title"]</h2>

<div class="container">
    <div class="row">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="~/images/profilepic.jpg" alt="" class="img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h2>
                            Stephen Curry
                            </h2>

                            </ul>
                            <br>
                            <h5>
                                <b>Company:</b> Memes Inc.
                            </h5>
                            <h5>
                                <b>Position:</b> Professional Memer
                            </h5>
                    </div>
                </div>
                <br>
                <br>
                <h4><b>Biography:</b></h4>
                <br>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Vivamus non dui nec lectus tristique iaculis. Phasellus finibus ligula mauris, nec vehicula nisi vehicula a. 
                                Pellentesque eu mi a velit lobortis sollicitudin eget nec neque. Phasellus varius condimentum mollis. 
                                Ut augue nulla, feugiat a purus et, facilisis euismod ipsum. Praesent vehicula sapien risus, vel vehicula mauris semper ullamcorper. 
                                Vestibulum interdum augue a viverra sagittis. Donec viverra nisl justo, eget sagittis ex consectetur ut. Proin aliquet orci non diam elementum blandit. 
                                Etiam et eleifend velit. Cras imperdiet non nunc semper dapibus. 
                                Ut condimentum justo quis sodales viverra. Nam euismod efficitur sapien, ornare tincidunt tortor tempus eu. 
                                Integer ac tortor finibus, bibendum eros eu, facilisis dui. Mauris ut arcu id massa gravida rhoncus. 
                                Integer pharetra sem at bibendum imperdiet. Donec ac dapibus dolor. Pellentesque facilisis lectus eget lectus posuere pellentesque. 
                                Maecenas nec leo ultricies, tempor nulla in, pharetra massa.
                            </p>
                            
            </div>
    </div>
</div>