@{
    ViewData["Title"] = "SecHome";
}
<h2>@ViewData["Title"]</h2>

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <div class="slideshow auto">
                <div class="mySlides fade">
                        <div class="numbertext">1 / 4</div>
                        <img src="~/images/box (1).jpg" style="width:100%">
                    </div>

                    <div class="mySlides fade">
                        <div class="numbertext">2 / 4</div>
                        <img src="~/images/box (2).jpg" style="width:100%">
                    </div>

                    <div class="mySlides fade">
                        <div class="numbertext">3 / 4</div>
                        <img src="~/images/box (3).jpg" style="width:100%">
                    </div>

                    <div class="mySlides fade">
                        <div class="numbertext">4 / 4</div>
                        <img src="~/images/box (4).jpg" style="width:100%">
                    </div>
                    <br>

                    <div style="text-align:center">
                        <span class="dot" onclick="currentSlide(1)"></span> 
                        <span class="dot" onclick="currentSlide(2)"></span> 
                        <span class="dot" onclick="currentSlide(3)"></span>
                        <span class="dot" onclick="currentSlide(4)"></span> 
                    </div>
            </div>
            <div class="decription">
                <h4>BingIt Baby</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et efficitur ipsum. Sed quam mi, maximus et velit in, egestas pellentesque quam. Curabitur auctor ex vitae risus consequat, eu iaculis quam accumsan. Proin sodales sem nec magna condimentum hendrerit. Praesent nec felis in ante </p>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="vids">
                <video class="video" id="borderR" controls width="400" >
                    <source src="~/Movies/DSC_0371.mp4" type="video/mp4">
            </div>
            <div class="decription">
                <br>
                <p>Show some love and <a href= "https://www.bing.com/search?q=google&qs=n&form=QBLH&sp=-1&pq=google&sc=8-4&sk=&cvid=331301BAC9B541E087DD9260C9DBB3E6">BingIt</a></p>
                <br>
                <p>check out the other <a href= "http://Localhost:5000/Home/index">Home</a></p>
            </div>
        </div>
    </div>
</div>