﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: lightblue;
}
video {
    width: 100%;
    height: auto;
}
.mySlides {
    display: none;
}
.numbertext {
  color: red;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.active {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 6s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.decription {
  font-size: 15px;
  text-align: center;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h3{
    text-align: center;
}
h4{
    text-align: center;
}
img{
    border: 5px solid red;
    width: 90%;
}
#borderR {
    border-style: solid;
    border-width: 3px;
    border-color: red;
}
#map{
    display: block;
    float: left;
    height: 400px;
    width: 100%
}
text{
    font-size: 12;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}
#blognavi{
    border: 1px solid black;
}

#postimg{
    float: left;
    width: 210px
}


.row > .column {
    padding: 0 8px;
}
  
.row:after {
   content: "";
   display: table;
   clear: both;
}
  
.column {
   float: left;
   margin: 10px;
   width: 25%;
}
  
 /* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}
  /* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}
.close {
  color: white;
  position: fixed;
  top: 50px;
  right: 50px;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
.cursor {
  cursor: pointer
}
.mySlides {
  display: none;
  width: 100%;
}

  /* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
  
  /* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
  
  /* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
 
  /* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.demo {
    opacity: 0.6;
}
  
.active,
.demo:hover {
  opacity: 1;
}
  
img.hover-shadow {
  transition: 0.3s
}
  
.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.portfolio-slideshow {
   width: 50%;
   max-width: 200px;
}
small {
  display: block;
  line-height: 1.428571429;
  color: #999;
}
#footer{
   position: static;
   right: 0;
   bottom: 0;
   left: 0;
   padding: 1rem;
   text-align: center;
}
address{
    font-size: 100px;
}

#author{
  width: 240px;
}
#portimg{
  padding-top: 2%;
}